body{
	
	background:#FFCC99;
}

#corpo{
	margin-top:0px;
	margin-right:15%;
	margin-left:15%;
	background:#FFFFFF;
	width: 68%;
	height:100%;
	text-align:center;
}

#spazio{
	margin-bottom:10px;
	height: 15%;
	width: 100%;
	text-align:center;
	color:red;
	
}

